:root {
    --dark-blue: #4a2c7a;
    /* Un tono más oscuro de púrpura */
    --main-color: #f9f6f0;
    /* Un color beige claro */
    --light-blue: #b9a3d0;
    /* Un lila suave */
    --inter-font: "Inter", sans-serif;
}

html {
    font-size: 62.5%;
    /* 1rem = 10px */
}

body {
    font-family: var(--inter-font);
    background-color: var(--main-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin-bottom: 5rem;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem;
}

header img {
    width: 10vw;
    /* Ajustable según el tamaño de la pantalla */
    max-width: 100px;
    margin: 1rem;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    max-width: 577px;
    width: 100%;
    padding: 1rem;
}

.formulario__textarea {
    width: 100%;
    height: 40vh;
    /* Ajustado para ser más adaptable */
    border: 1px solid var(--light-blue);
    background: transparent;
    outline: none;
    font-family: var(--inter-font);
    font-size: 2rem;
    color: var(--dark-blue);
    margin-bottom: 3rem;
    padding: 1rem;
    resize: none;
}

::placeholder {
    color: var(--dark-blue);
}

.mensaje__alerta {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}

.formulario__submit {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.formulario__btn {
    background: var(--dark-blue);
    color: white;
    font-size: 1.6rem;
    padding: 1rem 2rem;
    width: 100%;
    max-width: 328px;
    height: 67px;
    border-radius: 24px;
    border: 1px solid var(--dark-blue);
    font-weight: 600;
}

.formulario__btn--secundary {
    background: transparent;
    color: var(--dark-blue);
}

.resultado {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    height: auto;
    max-height: 70vh;
    border-radius: 32px;
    max-width: 40rem;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
}

.resultado__titulo {
    font-size: 2.4rem;
    font-weight: 600;
    color: #343A40;
}

.resultado__texto {
    font-size: 1.6rem;
    text-align: center;
}

.resultado__imagen {
    display: block;
    max-width: 100%;
    height: auto;
}

.hidden {
    display: none;
}


/* Configuracion pantalla móvil */

@media screen and (max-width: 768px) {
    html {
        font-size: 55%;
    }
    header img {
        width: 15vw;
        max-width: 73px;
    }
    main {
        flex-direction: column;
        padding: 1rem;
    }
    .formulario__textarea {
        font-size: 2.8rem;
    }
    .formulario__btn {
        width: 100%;
    }
    .resultado {
        height: auto;
        max-width: 90%;
        margin-top: 2rem;
        min-height: 186px;
        padding: 1rem;
    }
    .resultado__titulo {
        font-size: 2rem;
    }
    .resultado__texto {
        font-size: 1.4rem;
    }
}


/* Loader configuracion */

.loader {
    width: 100px;
    height: 45px;
    position: relative;
}

.loader:before,
.loader:after {
    content: "";
    position: absolute;
    inset: 0;
    background: #000;
    box-shadow: 0 0 0 50px;
    clip-path: polygon(-50px -20px, 10% -12px, 20% 0, calc(50% - 15px) 0, calc(50% - 10px) -20px, calc(50% - 8px) -15px, calc(50% + 8px) -15px, calc(50% + 10px) -20px, calc(50% + 15px) 0, 80% 0, 90% -12px, calc(100% + 50px) -20px, 100% 80%, calc(100% + 10px) calc(100% + 10px), 60% 100%, 50% calc(100% + 15px), 40% 100%, -10px calc(100% + 10px), 0 80%);
}

.loader:after {
    animation: l9 1s infinite;
    transform: perspective(300px) translateZ(0px)
}

@keyframes l9 {
    to {
        transform: perspective(300px) translateZ(100px);
        opacity: 0
    }
}